*{
    margin:0;
    padding: 0;
}


.header{
    height: 120vh;
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}

.icon-bar{
    background: darkorange;
}


.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}
/*
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 20px;
    border-radius: 20px;
}



a.btn:hover{
    background: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
*/
.banner-info, .banner-image{
    margin: 10px 0;
}

.input-group-text{
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20 !important;
    border-bottom-right-radius: 20 !important;
    cursor: pointer;
}

/*
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
*/