{% extends "layout.html" %}
{% block title %}EZrecipe: Search{% endblock %}
 {% block style %}
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
@media(min-width:960px){
  .col-md-3 .well{
    height: 390px;
  }

  .col-md-3 img{
    height: 240px;
  }
}
 {% endblock %}s
{{ super() }}

{% block content %}

<style> 


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>


<div class="container">
  <div class="searchBar">
    <form id="myForm">
      
      <div><img src="static/logo.png" alt="EZrecipelogo"></br></div>

      <div><input type="text" name="input" class="form-control" id="search"   placeholder="Search"></div><br/>

      <div><button id="btn" type="button" onclick="getData()" class="btn btn-primary" value="go"" style="margin-left:110px;"><i class="fa fa-search"></i></button></div>
    </form>
  </div><br/>
  <div id ="recipe" class="flex-container">
 
  </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close1">&times;</span>
    <p>Do you want too add this to your personal list?</p>
    <p><i>You would have too go My Account page too see your list</i></p>
    <div id="submod">
    </div>
  </div>



<script>

  var ingredientIDs = [];
  
let server = "https://project-3--kirtondavid53.repl.co"
async function getData(){
  document.getElementById("recipe").innerHTML="";
  search = document.getElementById("search").value
 url= `https://api.spoonacular.com/recipes/search?query=${search}&apiKey=d4f7c4162527415da479bbe97794c40a`
   try{
     let response = await fetch(url);
     let result = await response.json();
     console.log(result);
     for(let product of result.results){
      
      document.getElementById("recipe").innerHTML+=`
      <div class="col-md-3">
      <div class="well text-center" id="${product.id}" onclick="gomodal(${product.id})" >
  <img src="https://spoonacular.com/recipeImages/${product.id}-556x370.jpg" height="200" width="20" alt="${product.title}" style="width:100%">
    <h4>${product.title}</h4>
    <h4 style="font-size:10px;">Ready in: ${product.readyInMinutes} minutes</h4>
    <h4 style="font-size:10px;">Servings: ${product.servings}</h4>
</div>
</div>
      `
     }
  }catch(e){
      console.log(e);
  }

}

function addRecipeLocalStorage(id){
  localStorage = window.localStorage;
  ingredientIDs.push(id);
  localStorage.setItem("ingredientIDs", JSON.stringify(ingredientIDs));  
  removeElement(id);
}
function go(id){
  post({"recipeid":id});
}

function removeElement(elementId) {
    // Removes an element from the document
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}
//modal logic----------------------------------------------------------


// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close1")[0];

function gomodal(id){
  var m = document.getElementById("submod");
  m.innerHTML=`<button class="btn btn-primary" onclick="addRecipeLocalStorage(${id})">submit</button>`  
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
{% endblock %}

